.sec{
    overflow: hidden;
}
.burger img{
    margin-top: -50px;
    opacity: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
     scroll-behavior: smooth;
    transition: .3s; 
    font-family: 'm1';
    text-decoration: none;
}

@font-face {
    font-family: 'm1';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'm2';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'm3';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'm4';
    src: url(../fonts/Montserrat-Bold.ttf);
}



/*  */
.a1{ 
    margin: 0 auto;
    width: 1900px;
    height: 1170px;
}
.a2{ 
    margin: 0 auto;
    width: 1400px;
    height: 1270px;
}
header{ margin: 0 auto;
    width: 1400px;
    background-color: rgb(255, 255, 255);
    
}
.hbtn{font-size: 25px;
    position: relative;
    left: 320px;
    top: -31px;
    margin-left: 50px;
}
.logo{ left: 20px;
    position: relative;
    top: 20px;
}
.hbtn:hover{ transition-duration: 0s;
    border-bottom: 2px solid #E93400;
}
.search{width: 300px;
    height: 50px;
    position: relative;
    top: -52px;
    left: 600px;
}
* {box-sizing: border-box;}
form { left: 270px;
    top: -80px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}
input { font-size: 18px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 2px solid #E93400;
  border-radius: 5px;
  outline: none;
  background: rgb(255, 255, 255);
  color: #000000;
}
.sp2{
    color: red;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background: #E93400;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "";
  
  font-size: 16px;
  color: #F9F0DA;
}
.logo1{top: -115px;
    position: relative;
    left: 1230px;
    padding-left: -15px;

}

.log1 img:hover{
    transform: scale(1.1);

}
button:hover{
    
    background-color: #ff5c2f;
}
.btn{
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: #E93400;
    border-radius: 10px;
}
.btn1{ 
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: #FF9901;
    border-radius: 10px;
}
.btn:hover{
    
}
.buttons{ text-align: center;
    position: relative;
    top: -50px;
}
.ftbb{
    opacity: 0;
}
/* F */
footer{ width: 1400px;
    height: 200px;
    background-color: #ffffff;
    margin-top:-1320px;
}
.ftx1{position: relative;
    left: 25px;
    top: 15px;
    width: 250px;
    font-size: 13px;

}
.ftx2{ 
    position: relative;
    left: 40px;
    top: -50px;
}
.ftx4 { font-size: 17px;
    margin-top: 5px;
    position: relative;
    left: 400px;
    top: -130px;
}
.ftx3 { margin-left: 50px; text-align: center;
    top: 40px;
    position: relative;
    left: -120px;
    display: inline-block;
}
.ftx5 a{ font-size: 18px;
    font-family: m4;
    margin-top: 5px;
    position: relative;
    left: 400px;
    top: -130px;
}
.kont{position: relative;
    left: 560px;
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
color: #ffffff;
top: -235px;
}
.kont p4{
    font-size: 14px;
    color: #7e7e7e;
    position: relative;
    
    
}
.kont p2{
    position: relative;
    top: 15px; 

    
}
.kont p3{
    position: relative;
    top: 30px;
    
}
.kont p5{
    position: relative;
    top: 15px; font-size: 14px;
    color: #7e7e7e;

    
}
.logoos{
    position: relative;
    top: 40px;
    
}
.logoos img{
    width: 3%;
}
.logoos img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.men1{
    font-size: 20px;
    font-family: 'm1' ;

}
.men1 img{
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.imgm img{ 
    position: relative;
    
    
}
.men1 img:hover{
    transform: scale(1.1);
}
.men1:hover{ 
    border-bottom: 1px solid black;
}
.line{
    position: relative;
    left: 300px;
    top: -470px;
    
}
.line img{
    height: 470px;
}
.sp5{
    font-family: m4;
}
.cat{
    position: relative;
    left: 340px;
    top: -940px;
}
.cat h1{font-size: 32px;
    margin-bottom: 10px;
}
.catt{ margin-bottom: 11px;
    font-family: m2;
    font-size: 22px;

}
.a12{
    margin-bottom: 5px;
}
.catt1{
    font-size: 18PX;
}
.catt1:hover{
    border-bottom: 1px solid black;
}
.cat1{ position: relative;
    display: inline-block;
    left: -15px;
    margin: 15px 15px 15px 15px;
}
.mmm{
    position: relative;
    left: 100px;
}
.cat{ background-color: #ffffff;
    width: 750px;
    height: 1000px;
}
.ftx3 { margin-left: 50px; text-align: center;
    top: 40px;
    position: relative;
    left: -220px;
    display: inline-block;
}
/*  */@media screen and (max-width: 480px) {


.a1{
    width: 400px;
}
.a2{
    width: 400px;
}
header{
width: 400px;

}
.hbtn{ position: relative;
    margin-left: 5px;
    left:150px;
    top: -10px;
    font-size: 12px;
}
.logo img{

    width: 30%;
}
.search{
    width: 60px;
}
form{ left: -30px;
    top: 00px;
    width: 300px;
    height: 30px;

}
input{ height: 40px;
    font-size: 21px;
}
button{
    width: 40px;
    height: 40px;
}
.buttons{
    top: 200px;
}
button img{ position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
}
input{ padding-left: 0px;
    font-size: 15px;
}
.logo1{ top: -70px;
    position: relative;
    left: 340px;
}
.logo1 img{ display: flex; 
    width:25px;
    height: 25px;
}
.fon img{
    width: 400px;
}
.buttons{
    position: relative;
    left: 10000px;
}
.men{ top: -100px;
    position: relative;
    left: -50px;
}
.ftbb{ text-align: center;
    opacity: 1;
    position: relative;
    top: -1500px;
    left: -15px;
}
footer{
    position: relative;
    left: 1000px;
}
.a1{
    height:800px;
}
.burger img{ position: relative; width: 6%;
    left: 300px;
    top: -122px;
    margin-top: 30px;
    opacity: 1;
}
.hdiv{
    position: relative;
    top: -1000px;
}
}